<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <connectionStrings>   
        <add name="MyKey" 
             connectionString="SERVER=hussa750.cucstudents.org;DATABASE=hussa750_CRM;UID=hussa750_Admin;PASSWORD=Password123!;SslMode=none;"
             providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
</configuration>