<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <connectionStrings>   
        <add name="MyKey" 
             connectionString="SERVER=ac1396.cucstudents.org;DATABASE=ac1396_Azman_Sys;UID=ac1396_admin;PASSWORD=Password123!;SslMode=none;"
             providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
</configuration>